.emptable-header{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    margin-left: 40px;
    margin-top: 100px;

}
.emp-table {
    width: 100%;
    height: 80%;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
}
 
table {
    width: 800px;

}
 
th {
border-radius: 4px;
    background-color: #6b705c;
    height: 40px;
}
 
td {
    text-align: center;
    border-radius: 4px;
    background-color: #6b705c6d;
    height: 40px;
}

.person-add{
    width: 60px;
    height: 60px;
    background-color: #6b705c;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:10px ;
}
.edit{
    width: 60px;
    height: 60px;
    background-color: #6b705c;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:10px ;
}
.delete{
    width: 60px;
    height: 60px;
    background-color: #6b705c;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:10px ;
}


::placeholder{
    color:#ffe8d6 ;
}