.search-bar{
    max-width:fit-content ;
    min-width: 560px;
    height: 60px;
    background-color: #6b705c;
    border-radius: 60px;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 20px;
    margin-left: 20px;
}

.search-bar input{
    border: none;
    outline: none;
    width: 85%;
    background-color: #6b705c6d;
    margin-left: 10px;
    color:#ffe8d6 ;
}