.form-container {
  background-color: #6b705c;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

button {
  background-color: #ffe8d6;
  color: #6b705c;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}
